In [23]:
import pandas as pd
df = pd.read_csv('sorted_128_100_hangeul.csv')

In [45]:
df

,Unnamed: 0,Unnamed: 0.1,0,1,2,3,4
0,0,0,40.075850,116.327817,2007-04-14,00:56:28,"Unnamed Road, Changping Qu, Beijing Shi, 중국"
1,1,1,40.075833,116.327583,2007-04-14,00:56:46,0
2,2,2,40.076000,116.327567,2007-04-14,00:59:24,0
3,3,3,40.076300,116.327500,2007-04-14,00:59:50,0
4,4,4,40.076600,116.327417,2007-04-14,01:00:15,0
...,...,...,...,...,...,...,...
35664,35664,35664,32.971538,114.014140,2008-05-05,13:38:42,0
35665,35665,35665,32.971515,114.014148,2008-05-05,13:38:44,0
35666,35666,35666,32.971455,114.014140,2008-05-05,13:38:46,"중국 Henan Sheng, Zhumadian Shi, Yicheng Qu, Jia..."
35667,35667,35667,32.971410,114.014190,2008-05-05,13:38:49,0
35668,35668,35668,32.971172,114.014120,2008-05-05,13:38:55,0

In [33]:
df_name = pd.read_csv('data추출.csv', encoding = 'cp949')

In [35]:
for i in range(1, 35):
    print(df_name['Unnamed: 2'].iloc[i])

용등원 상가
묘봉산 진간구촌
묘봉산
묘봉산
용봉령 재배단지
팔달령 고속 출구
팔달령
숙소
회룡관룡화원
톨게이트???
중해실업빌딩
향북원
항주서호풍경명승지구
향산공원
겐상차오둥
중화민족원
화교 아파트
베이징 항공 우주대학
공항 기숙사
건재백화점
건재백화점
용등원
용화원
항공우주대학
4만 류억성 센터
취궁호텔
화성빌딩
세모빌딩
이조 커뮤니티
성금가원
근공주분역
공원
중신가원저상
자오위안 공원

In [42]:
chinese_dict = {}
for i in range(len(df_name_)):
    chinese_dict[df_name_['중국어'].iloc[i]] = df_name['Unnamed: 2'].iloc[i+1]

In [43]:
chinese_dict

{'龙腾苑五区2号楼7号底商': '용등원 상가',
 '近郊妙峰山镇涧沟村': '묘봉산 진간구촌',
 '近妙峰山景区': '묘봉산',
 '妙峰山': '묘봉산',
 '妙峰山镇担礼隧道向东500米龙凤岭种植园内': '용봉령 재배단지',
 '延庆区八达岭高速康庄出口': '팔달령 고속 출구',
 '八达岭特区': '팔달령 ',
 '回龙观镇龙腾苑六区32号楼4单元501室': '숙소',
 '回龙观龙华源15号楼底商': '회룡관룡화원',
 '昌平区京昌高速回龙观北出口800米': '톨게이트???',
 '中海实业大厦南侧路东': '중해실업빌딩',
 '洼里乡北苑北辰居住区d2区105号': '향북원',
 '龙井路1号杭州西湖风景名胜区内': '항주서호풍경명승지구',
 '40号香山公园内': '향산공원',
 '健翔桥东300米路南': '겐상차오둥',
 '中华民族园西侧': '중화민족원',
 '亚运村安慧里三区华侨公寓': '화교 아파트',
 '37号北京航空航天大学': '베이징 항공 우주대학',
 '机场宿舍区北4公里西白辛庄东口': '공항 기숙사',
 '文华路鑫地建材百货市场10号a': '건재백화점',
 '文华路鑫地建材百货市场9号b': '건재백화점',
 '龙腾苑三区16': '용등원',
 '回龙观西大街龙华园10号楼': '용화원',
 '航空航天大学内': '항공우주대학',
 '4万柳亿城中心c1c2座': '4만 류억성 센터',
 '翠宫饭店南侧': '취궁호텔',
 '16号华胜大厦': '화성빌딩',
 '建国路甲92号世茂大厦a座808室': '세모빌딩',
 '二条社区内': '이조 커뮤니티',
 '莲花西路盛今佳园2号楼': '성금가원',
 '近公主坟地铁站': '근공주분역',
 '莲花池路48号莲花池公园西门外': '공원',
 '中新佳园底商2号': '중신가원저상',
 '赵苑公园': '자오위안 공원',
 '卫星大厦1103': '위성 빌딩'}

In [47]:
df['5'] = 0

In [48]:
chinese_dict_keys = chinese_dict.keys()

In [52]:
chinese_dict_keys_ = list(chinese_dict_keys)

In [53]:
chinese_dict_keys_

['龙腾苑五区2号楼7号底商',
 '近郊妙峰山镇涧沟村',
 '近妙峰山景区',
 '妙峰山',
 '妙峰山镇担礼隧道向东500米龙凤岭种植园内',
 '延庆区八达岭高速康庄出口',
 '八达岭特区',
 '回龙观镇龙腾苑六区32号楼4单元501室',
 '回龙观龙华源15号楼底商',
 '昌平区京昌高速回龙观北出口800米',
 '中海实业大厦南侧路东',
 '洼里乡北苑北辰居住区d2区105号',
 '龙井路1号杭州西湖风景名胜区内',
 '40号香山公园内',
 '健翔桥东300米路南',
 '中华民族园西侧',
 '亚运村安慧里三区华侨公寓',
 '37号北京航空航天大学',
 '机场宿舍区北4公里西白辛庄东口',
 '文华路鑫地建材百货市场10号a',
 '文华路鑫地建材百货市场9号b',
 '龙腾苑三区16',
 '回龙观西大街龙华园10号楼',
 '航空航天大学内',
 '4万柳亿城中心c1c2座',
 '翠宫饭店南侧',
 '16号华胜大厦',
 '建国路甲92号世茂大厦a座808室',
 '二条社区内',
 '莲花西路盛今佳园2号楼',
 '近公主坟地铁站',
 '莲花池路48号莲花池公园西门外',
 '中新佳园底商2号',
 '赵苑公园',
 '卫星大厦1103']

In [54]:
for i in range(len(df)):
    for j in range(len(chinese_dict_keys_)):
        if chinese_dict_keys_[j] in df['4'].iloc[i]:
            df['5'].iloc[i] = chinese_dict[chinese_dict_keys_[j]]

C:\Users\SungJin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [57]:
df['5'].unique()

array([0, '용등원 상가', '묘봉산', '용봉령 재배단지', '팔달령 고속 출구', '팔달령 ', '숙소',
       '회룡관룡화원', '톨게이트???', '중해실업빌딩', '항주서호풍경명승지구', '향산공원', '중화민족원',
       '화교 아파트', '베이징 항공 우주대학', '공항 기숙사', '용등원', '용화원', '항공우주대학', '취궁호텔',
       '화성빌딩', '이조 커뮤니티', '근공주분역', '공원', '중신가원저상', '자오위안 공원', '위성 빌딩'],
      dtype=object)

In [59]:
df.to_csv('128_한글패치.csv')